body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

li span:first-child {
    font-weight: bold;
}

li:hover {
    background-color: #f0f0f0;
}
